input
{
        http
        {
                host => "0.0.0.0"
                id => "http_input"
                port => 8080
                codec => json
                user => "automacao"
                password => "elastic@2021"

        }
}

output
{
        elasticsearch
        {
                hosts => ["http://elk01.grupoaec.com.br:9200"]
                index => "%{[indice]}"
                user => "elastic"
                password => "portprd@aec"
        }
}

